* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.header-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    width: 25%;
    padding-left: 15px;
}

.header-left>ul>li {
    display: inline-block;
    padding-right: 15px;
    list-style-type: none;
}

.header-right>ul>li {
    display: inline-block;
    padding-left: 15px;
    list-style-type: none;
}

.header-right {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    padding-right: 15px;
}

.header-left>ul>li>a, .header-right>ul>li>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.header-left>ul>li:hover, .header-right>ul>li:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    height: calc(100vh - 130px);
}

.search {
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

.fa-search {
    position: absolute;
    bottom: 50%;
    left: 20px;
    color: #9AA0A6;
}

.fa-microphone {
    position: absolute;
    bottom: 50%;
    right: 20px;
    color: #9AA0A6;
}

.bar {
    width: 100%;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

.central-box {
    width: 600px;
    margin: auto;
    text-align: center;
}

.paragraph p {
    padding-top: 10px;
    font-size: 14px;
}

.paragraph a {
    text-decoration: none;
}

.buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#main-menu>li {
    position: relative;
}

.dropdown {
    width: 300px;
    display: none;
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-80%);
    text-align: center;
}

.dropdown li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown li img {
    width: 60px;

}

.dropdown li a {
    padding: 10px;
    text-decoration: none;
}

.img-wrapper {
    width: 60px;

}

.footer-lang {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 15px;
    background-color: #f2f2f2;
    height: 30px;
    border-top: 1px solid #e4e4e4;
}

.footer-lang span {
    padding: 0px 16px;
    line-height: 30px;
}

.footer-container {
    display: flex;
    height: 50px;
}

.footer {
    width: 100%;
    background-color: #f2f2f2;
}

.footer-left {
    border-top: 1px solid #e4e4e4;
    width: 50%;
    padding-left: 15px;
}

.footer-right {
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 15px;
}

.footer-right>ul>li, .footer-left>ul>li {
    display: inline-block;
    line-height: 50px;
}

.footer-left>ul>li:hover, .footer-right>ul>li:hover {
    text-decoration: underline;
}

.footer-right>ul>li>a, .footer-left>ul>li>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 16px;
}
